<a href="https://colab.research.google.com/github/BrandonEstrada/CovidOutbreak/blob/main/MachineLearningCovid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import folium
from folium import plugins

plt.rcParams['figure.figsize'] = 10, 12

import warnings
warnings.filterwarnings('ignore')

In [7]:
#data from https://dshs.texas.gov/coronavirus/AdditionalData.aspx
dfTexas = pd.read_excel('/content/data/Texas_COVID-19_Case_Count_Data_by_County.xlsx',parse_dates=True)
dfTexas

                                           County Name  ...  2021-09-16 00:00:00
0                                             Anderson  ...               4902.0
1                                              Andrews  ...               2280.0
2                                             Angelina  ...               6278.0
3                                              Aransas  ...               1828.0
4                                               Archer  ...                895.0
..                                                 ...  ...                  ...
252                                             Zapata  ...               1658.0
253                                             Zavala  ...               2045.0
254                                              Total  ...            3251554.0
255                                                NaN  ...                  NaN
256  Additional information can be found on the Dat...  ...                  NaN

[257 rows x 563 columns]

In [8]:
print(dfTexas)

                                           County Name  ...  2021-09-16 00:00:00
0                                             Anderson  ...               4902.0
1                                              Andrews  ...               2280.0
2                                             Angelina  ...               6278.0
3                                              Aransas  ...               1828.0
4                                               Archer  ...                895.0
..                                                 ...  ...                  ...
252                                             Zapata  ...               1658.0
253                                             Zavala  ...               2045.0
254                                              Total  ...            3251554.0
255                                                NaN  ...                  NaN
256  Additional information can be found on the Dat...  ...                  NaN

[257 rows x 563 columns]

In [9]:
# data for UTD covid cases from https://www.utdallas.edu/covid/response/confirmed-cases/
dfUTD = pd.read_excel('/content/data/UTDCovidFall2021.xlsx',parse_dates=True)
dfUTD

                         County Name  ...  2021-09-16 00:00:00
0  The University of Texas at Dallas  ...                  NaN

[1 rows x 563 columns]

In [10]:
Texas_coord = pd.read_csv('/content/data/Texas_Counties_Centroid_Map.csv')